{% extends 'index.html' %}
{% block title_head %}
Eliminar Huesped
{% endblock title_head %}

{% block h1_header %}

{% endblock h1_header %}

{% block h2_header %}
Desea eliminar a el/la huesped {{huesped.nombre}} {{huesped.apellido}} de nacionalidad {{huesped.nacionalidad}}?

{% endblock h2_header %}

{% block boton_verde %}
Confirmación
{% endblock boton_verde %}


{% block main %}
<form action={% url 'eliminar_huesped' huesped.id %} method="post">
    {% csrf_token %}
    <p>Corfirma la eliminación del Huesped?</p>
    <input type="submit" value="Eliminar">


</form>

{% endblock main %}