{% extends 'index.html' %}

{% block title_head %}
Huespedes
{% endblock title_head %}

{% block h1_header %}

{% endblock h1_header %}

{% block h2_header %}
{{huesped}}

{% endblock h2_header %}

{% block boton_verde %}
Ver Ficha completa
{% endblock boton_verde %}

{% block main %}
<ul style="list-style: none; padding: 0;">
    <li style="display: flex; align-items: center;">
        {% if huesped.foto %}
            <img src="{{ huesped.foto.url }}" alt="Avatar" height="100px" style="margin-right: 20px;">
        
        {% endif %}
        <div>
            <p>Nombre: {{ huesped.nombre }}</p>
            <p>Apellido: {{ huesped.apellido }}</p>
            <p>Fecha de Nacimiento: {{ huesped.fecha_de_nacimiento }}</p>
            <p>Nacionalidad: {{ huesped.nacionalidad }}</p>
        </div>
    </li>
</ul>

{% endblock main %}