{% extends 'index.html' %}

{% block h4_header %}
Sobre nuestro Hotel

{% endblock h4_header %}


{% block h3_header %}
<p>
    
    

    Ubicado en el corazón de los majestuosos Andes colombianos, nuestro hotel de montaña ofrece una 
    experiencia única en el espléndido entorno cerca al Nevado del Ruiz. En medio de una naturaleza 
    exuberante, nuestros huéspedes pueden disfrutar de la serenidad de los paisajes montañosos, rodeados 
    de verdes valles y bosques frondosos. Nuestro destino es ideal para quienes buscan un refugio de 
    tranquilidad, con acceso a aguas termales revitalizantes y oportunidades para el ecoturismo. 
    Desde caminatas panorámicas hasta relajantes baños en aguas termales, cada momento en nuestro 
    hotel está diseñado para conectar a nuestros visitantes con la belleza natural y la cultura 
    local. Ven y descubre un oasis de calma y aventura, donde la naturaleza y el confort se encuentran en perfecta armonía.
</p>

{% endblock h3_header %}





{% block boton_verde %}
Contacto
{% endblock boton_verde %}