{% extends 'index.html' %}

{% block title_head %}
Huespedes
{% endblock title_head %}

{% block h1_header %}
Huespedes
{% endblock h1_header %}

{% block main %}
{% if huespedes %}
<ul>
    {% for huesped in huespedes %}
    <li>{{ huesped.nombre }} {{ huesped.apellido }} de {{huesped.edad}} años, de nacionalidad {{huesped.nacionalidad}}</li>
    {% endfor %}
</ul>
{% else %}
<p>No hay huespedes creados</p>
{% endif %}
{% endblock main %}

{% block boton_verde %}
Listado
{% endblock boton_verde %}

